#container{
    position: relative;
    margin : auto;
    height: 50vw;
    width: 50vw;
    background: url(https://upload.wikimedia.org/wikipedia/commons/0/02/Analogue_clock_face.svg);
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
}

#hour{
    width: 1.7%;
    height: 17%;
    top: 32%;
    left: 48.9%;
    transform-origin: bottom;
    
}

#minute{
    width: 0.8%;
    height: 22%;
    top: 27%;
    left: 49.5%;
    transform-origin: bottom;
    
}

#second{
    width: 0.3%;
    height: 26%;
    top: 23%;
    left: 49.7%;
    color: brown;
    transform-origin: bottom;

}